
<div class="nav-wrapper">
    <nav class="vert-cntr-child justify-between">
    <a href="#top" class="brand-logo">{% include svg/apple.svg %}</a>

    <input type="checkbox" id="nav" class="hidden"/>
    <label for="nav" class="nav-open"><i></i><i></i></label>
      <div class="nav-container fixed top-0 right-0 p1 z2 flex flex-column">
            <ul class="block list-reset">
                <a href=#about><li class="nav-item">About</li></a>

                <a href=#cidery><li class="nav-item">Our Ciders</li></a>

                <a href=#process><li class="nav-item">The Process</li></a>

                <a href=#location><li class="nav-item">Location</li></a>

                <a href=#events><li class="nav-item">Events</li></a>

                <a href=#contact><li class="nav-item">Contact</li></a>

            </ul>
        <div class="form-wrap">
            <p class="sign-up hide-xs">emails you’ll actually want to open</p>
            <p class="sign-up show-xs">Stay in the Loop</p>
            <form action="https://capitolciderhouse.us16.list-manage.com/subscribe/post?u=f206526b1cfe3ca44037774fb&amp;id=18d26ce97b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="myform validate" target="_blank" novalidate>
                <div class="mc-field-group">
                     <input type="email" value="" name="EMAIL" placeholder="name@email.com" class="required email" id="mce-EMAIL">
                     <div id="mce-responses" class="clear">
                               <div class="response" id="mce-error-response" style="display:none"></div>
                               <div class="response" id="mce-success-response" style="display:none"></div>
                          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                         <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f206526b1cfe3ca44037774fb_18d26ce97b" tabindex="-1" value=""></div>
                         <div class="clear">
                             <input type="submit" class="btn-submit" type="submit" value="" name="subscribe" id="mc-embedded-subscribe">
                                 <i class="icon-user"></i>
                             </input>
                        </div>
                </div>
                <!-- <input class="form-email" type="email" name="email" placeholder="name@email.com" value="">
                <button type="submit" class="btn-submit">
                    <i class="icon-user"></i>
                </button> -->
            </form>
        </div>
    </div>
</nav>
</div>
