
<div class="nav-wrapper">
    <nav class="vert-cntr-child justify-between">
    <a href="{{ site.baseurl }}/" class="brand-logo">{% include svg/apple.svg %}</a>

    <input type="checkbox" id="nav" class="hidden"/>
    <label for="nav" class="nav-open"><i></i><i></i></label>
      <div class="nav-container fixed top-0 right-0 p1 z2 flex flex-column">
            <ul class="block list-reset">
                <a href=#about><li class="nav-item">About</li></a>

                <a href=#cidery><li class="nav-item">Our Ciders</li></a>

                <a href=#process><li class="nav-item">The Process</li></a>

                <a href=#location><li class="nav-item">Location</li></a>

                <a href=#events><li class="nav-item">Events</li></a>

                <a href=#contact><li class="nav-item">Contact</li></a>

            </ul>
        <div class="form-wrap">
            <p class="sign-up">emails you’ll actually want to open</p>
            <form class="" method="post">
                <input class="form-email" type="email" name="email" placeholder="name@email.com" value="">
                <button type="submit" class="btn-submit">
                    <i class="icon-user"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
</div>
