$tablet: 600px;
$xl: 1400px;
$l: 771px;

$media-max-tablet: "screen and (max-width: #{$tablet})";
$media-max-l: "screen and (max-width: #{$l})";
$media-min-xl: "screen and (min-width: #{$xl})";
// @media #{$media-max-tablet}{}
// @media #{$media-max-l}{}

// @media #{$media-min-xl}{}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  min-height: 50vh;
  position: relative;
}

.body-wrap {
    margin-top: 7.5rem;
    overflow: hidden;
}


.flex-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.col-offset {
    & p{
        margin-left: 12.5%
    }
    & h3:after {
        margin-left: 25%
    }
}

.col-offset-offset {
    margin-left: 25%;

    & p{
        margin-left: 25%
    }
    & h3:after {
        margin-left: 50%
    }
}

.col-bump {
    margin-left: 20%;
}

.col-super-offset {
    margin-left: 37.5%;
    & p{
        margin-left: 25%
    }
    & h3:after {
        margin-left: 50%
    }
}


// Starter Styles
.vh150 {
    height: 150vh;
}

.vh100 {
    height: 100vh;
}
.vh80 {
    height: 80vh;
}
.vh60 {
    height: 80vh;
}

.cntr-cntr-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vert-cntr-child {
    display: flex;
    align-items: center;
}

.my10 {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.my15 {
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.my20 {
    margin-top: 18rem;
    margin-bottom: 18rem;
}

.mb20 {
    margin-bottom: 18rem;
}
