<div class="max-width-3 mx-auto">
    <div class="brew-process-group">
        <h5 class="eyebrow">Our Craft Ciders</h5>
        <h3>This is How We Brew It</h3>
        <div class="vh60 brew-process-item vert-cntr-child">
            <div class="">
                <img src="{{ page.BrewProcess1.number-image}}" alt="">
                <h4>{{ page.BrewProcess1.title }}</h4>
                <p>{{ page.BrewProcess1.description }}</p>
            </div>
        </div>
        <div class="vh60 brew-process-item vert-cntr-child">
            <div class="">
                <img src="{{ page.BrewProcess2.number-image}}" alt="">
                <h4>{{ page.BrewProcess2.title }}</h4>
                <p>{{ page.BrewProcess2.description }}</p>
            </div>
        </div>
        <div class="vh60 brew-process-item vert-cntr-child">
            <div class="">
                <img src="{{ page.BrewProcess3.number-image}}" alt="">
                <h4>{{ page.BrewProcess3.title }}</h4>
                <p>{{ page.BrewProcess3.description }}</p>
            </div>
        </div>
        <div class="vh60 brew-process-item vert-cntr-child">
            <div class="">
                <img src="{{ page.BrewProcess4.number-image}}" alt="">
                <h4>{{ page.BrewProcess4.title }}</h4>
                <p>{{ page.BrewProcess4.description }}</p>
            </div>
        </div>
    </div>
</div>
