    <div class="brew-process-group">
        <div class="max-width-3 mx-auto">
            <h5 class="eyebrow">Made Right Here</h5>
            <h3>Our Craft Ciders</h3>
        </div>

        <div class="my10 brew-process-item">
            <div class="max-width-3 mx-auto">
                <div class="col-6 col-super-offset">
                    <h4>{{ page.BrewProcess1.title }}</h4>
                    <p>{{ page.BrewProcess1.description }}</p>
                </div>
            </div>
            <img class="number numberRight" src="{{ page.BrewProcess1.number-image}}" alt="">
            <img class="process-tree" src="/uploads/tree@2x.png" alt="">
        </div>

        <div class="my10 brew-process-item">
            <div class="max-width-3 mx-auto">
                <div class="col-6 col-offset-offset">
                    <h4>{{ page.BrewProcess2.title }}</h4>
                    <p>{{ page.BrewProcess2.description }}</p>
                </div>
            <img class="number numberLeft" src="{{ page.BrewProcess2.number-image}}" alt="">
            <img class="process-press" src="/uploads/press@2x.png" alt="">
            </div>
        </div>
        <div class="my10 brew-process-item">
            <div class="max-width-3 mx-auto">
                <div class="col-6 col-super-offset">
                    <h4>{{ page.BrewProcess3.title }}</h4>
                    <p>{{ page.BrewProcess3.description }}</p>
                </div>
            <img class="number numberRight" src="{{ page.BrewProcess3.number-image}}" alt="">
            </div>
        </div>
        <div class="my10 brew-process-item">
            <div class="col-6 col-offset-offset">
                <h4>{{ page.BrewProcess4.title }}</h4>
                <p>{{ page.BrewProcess4.description }}</p>
            </div>
            <img class="number numberLeft" src="{{ page.BrewProcess4.number-image}}" alt="">
        </div>
    </div>
</div>
