    <div class="brew-process-group">
        <div class="max-width-3 mx-auto px3">
            <h5 class="eyebrow">Made Right Here</h5>
            <h3>Our Craft Ciders</h3>
        </div>

        <div class="mb20 brew-process-item max-width-3 mx-auto relative illo-space">
                <div class="sm-col-6 col-super-offset px3">
                    <h4>{{ page.BrewProcess1.title }}</h4>
                    <p>{{ page.BrewProcess1.description }}</p>
                </div>
                <img class="number numberRight numberOne" src="{{ page.BrewProcess1.number-image}}" alt="">
                <img class="process-tree xs-hide" src="/uploads/tree@2x.png" alt="">
                <img class="process-wheel" src="/uploads/wheelbarrel@2x.png" alt="">
        </div>

        <div class="my20 brew-process-item max-width-3 mx-auto relative illo-space">
                <div class="sm-col-6 col-bump px3">
                    <h4>{{ page.BrewProcess2.title }}</h4>
                    <p>{{ page.BrewProcess2.description }}</p>
                </div>
            <img class="number numberLeft" src="{{ page.BrewProcess2.number-image}}" alt="">
            <img class="process-press" src="/uploads/press@2x.png" alt="">
        </div>
        <div class="my20 brew-process-item max-width-3 mx-auto relative illo-space">
                <div class="sm-col-6 col-super-offset px3">
                    <h4>{{ page.BrewProcess3.title }}</h4>
                    <p>{{ page.BrewProcess3.description }}</p>
                </div>
            <img class="number numberRight" src="{{ page.BrewProcess3.number-image}}" alt="">
            <img class="process-ferment" src="/uploads/Ferment@2x.png" alt="">
        </div>
        <div class="my20 brew-process-item max-width-3 mx-auto relative illo-space">
                <div class="sm-col-5 col-bump px3">
                    <h4>{{ page.BrewProcess4.title }}</h4>
                    <p>{{ page.BrewProcess4.description }}</p>
                </div>
                <img class="number numberLeft" src="{{ page.BrewProcess4.number-image}}" alt="">
                <img class="process-pour" src="/uploads/pour@2x.png" alt="">
        </div>
    </div>
</div>
