    <div class="cch-cideries relative sm-col-7 px3 illo-space">
        <h5 class="eyebrow">What’s on Tap</h5>
        <h3>Localy Sourced Ciders</h3>
        <p>All our goods are sourced from within 200 miles of the US Capitol Building. We have a few of our own concoctions and many ciders from Mid-Atlantic producers that are otherwise hard to find in DC. Our menu is always changing, but we’re always keeping it local.</p>
        <div class="cider-rows">
            {% for cidery in site.cideries limit:6 %}
                <div class="cider-item">
                    <h5>{{ cidery.title }}</h5>
                    <p>{{ cidery.distance }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
