<!-- Filter if events are past or not -->

{% assign event-sort = site.events | sort: "event-date" %}
{% capture events %}
      {% for event in event-sort %}
          {% assign today = "now" | date: "%s"%}
          {% assign event-date = event.event-date | date: "%s" %}
          {% if today <= event-date %}

<!-- LAYOUT -->

          {% assign day = event.event-date | date: "%a" %}
          {% assign month = event.event-date | date: "%b" %}
          {% assign day-num = event.event-date | date: "%d" %}
          {% assign start-time = event.event-date | date: "%I%p" %}
          <a href="{{ event.event-url }}" rel="{{event.giphy-url}}" class="screenshot">
              <div class="event-item col md-col-4 flex flex-stretch py2">
                    <div class="flex-1 event-col1">
                        <p class="event-date"><span class="day">{{day}}</span></p>
                        <p class="event-time">{{ start-time }}<br>to<br>{{ event.end-time }}</p>
                    </div>
                    <div class="flex-2 event-col2">
                        <p class="event-date">
                            <span class="month">{{month}}</span><span class="day-num">{{day-num}}</span>
                        </p>
                        <h5 class="event-title">{{ event.title }}</h5>
                    </div>`
              </div>
          </a>



<!-- LAYOUT -->


          {% endif %}
      {% endfor %}
{% endcapture %}
<!-- If there are no event coming up, use this placeholder -->

    {% if events.size <= 128 %}
        <div class="events-empty max-width-3 mx-auto px3">
            <h4>{{ page.no-events.title }}</h4>
            <p>{{ page.no-events.description }}</p> </br>
            {% include components/signupform.html%}
        </div>
        

    {% else %}
        {{ events }}
    {% endif %}
