<div class="shopMain_BG">
  <img class="hide-below-tablet shopBG_blue move-horiz"
      data-modifier="15"
      data-from="top-bottom"
      data-to="bottom-top"
      src="/uploads/typeBlue2@4x.png"
      alt="">
  <img class="hide-below-tablet shopBG_red move-horiz"
      data-modifier="-15"
      data-from="top-bottom"
      data-to="bottom-top"
      src="/uploads/typeRed2@4x.png"
      alt="">
  <img class="hide-below-tablet shopBG_blue move-horiz"
      data-modifier="15"
      data-from="top-bottom"
      data-to="bottom-top"
      src="/uploads/typeBlue2@4x.png"
      alt="">
  <img class="hide-below-tablet shopBG_red move-horiz"
      data-modifier="-15"
      data-from="top-bottom"
      data-to="bottom-top"
      src="/uploads/typeRed2@4x.png"
      alt="">
  <img class="hide-below-tablet shopBG_blue move-horiz"
      data-modifier="15"
      data-from="top-bottom"
      data-to="bottom-top"
      src="/uploads/typeBlue2@4x.png"
      alt="">
  <img class="hide-below-tablet shopBG_red move-horiz"
      data-modifier="-15"
      data-from="top-bottom"
      data-to="bottom-top"
      src="/uploads/typeRed2@4x.png"
      alt="">
  <img class="hide-below-tablet shopBG_blue move-horiz"
      data-modifier="15"
      data-from="top-bottom"
      data-to="bottom-top"
      src="/uploads/typeBlue2@4x.png"
      alt="">
</div>
