.brew-process-group {
    & h3:after {
        content: none;
    }
}
.brew-process-item {
    position: relative;

    h4 {
        max-width: 74%;
    }
}


.number {
    position: absolute;
    width: 12rem;
    @media #{$media-max-tablet}{
        width: 7rem;
    }
}

.numberRight {
    top: -3rem;
    right: -16%;
    @media #{$media-max-tablet}{
        right: 2%;
    }
}

.numberLeft {
    top: -1rem;
    left: -16%;
    @media #{$media-max-tablet}{
        right: 2%;
        top: -3rem;
        left: auto;
    }
}

.numberOne {
    top: -8rem;
    @media #{$media-max-tablet}{
        top: -4rem;
    }
}

img.process-tree {
    position: absolute;
    width: 477px;
    left: -32%;
    top: 0rem;
}

img.process-wheel {
    position: absolute;
    width: 386px;
    right: -57%;
    top: 13rem;
    @media #{$media-max-tablet}{
        right: 0;
        left: 0;
        top: auto;
        bottom: 0;
        margin: auto;
    }
}

// img.process-press {
//
//     width: 360px;
//
//     @media #{$media-max-tablet}{
//         right: 0;
//         left: 0;
//         top: auto;
//         bottom: -43px;
//         margin: auto;
//         width: 261px;
//     }
// }

@mixin animateSprite($name, $frames, $img-width, $img-height, $image) {
    $sprite-width: $img-width / $frames;
    width: ($sprite-width / 2);
    height: ($img-height/2);
    background: url('#{$image}') left center;
    background-size: cover;
    animation: #{$name}-play 3s steps($frames, start) infinite;
    animation-direction: alternate;

    @keyframes #{$name}-play {
    0% {background-position: 0;}
    100% { background-position: ($img-width /2); }
    }
}

#squeezy {
    right: -26%;
    top: -4rem;
    position: absolute;
    @include animateSprite(
      $image: "/uploads/presssprite.png",
      $name: "squeezy",
      $frames: 5,
      $img-width: 3608px,
      $img-height: 1090px,
    );

  @media #{$media-max-tablet}{
      right: 0;
      left: 0;
      top: auto;
      bottom: -126px;
      margin: auto;
      transform: scale(0.74);
  }
}
#bubbly {
    position: absolute;
    left: -43%;
    top: -10rem;
    z-index: -1;
    @include animateSprite(
      $image: "/uploads/fermentsprite.png",
      $name: "bubbly",
      $frames: 4,
      $img-width: 4213px,
      $img-height: 1336px,
    );

    @media #{$media-max-tablet}{
        right: 0;
        left: -28px;
        top: auto;
        bottom: -11rem;
        margin: auto;
        transform: scale(0.6);
    }
}
#drippy {
    position: absolute;
    width: 550px;
    right: -46%;
    top: -8rem;
    @include animateSprite(
      $image: "/uploads/drippySprite.png",
      $name: "drippy",
      $frames: 7,
      $img-width: 7643px,
      $img-height: 1455px,
    );

    @media #{$media-max-tablet}{
        right: 0;
        left: -84px;
        top: auto;
        bottom: -204px;
        margin: auto;
        transform: scale(0.65);
    }
}
