/* On the flex container */
.cider-rows {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 208px;
    margin-left: 12.5%;
    margin-top: 2rem;

    & .cider-item {
        margin-right: 3rem;

        & h5 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        & p {
            margin-left: 0;
            line-height: 1;
        }
    }

    @media #{$media-max-tablet}{
        margin: 0;
        height: 318px;
    }
}

.cideries-twohundred {
    position: absolute;
    left: 0;
    top: 2rem;
    width: 166px;
}

.cideries-horsey {
    width: 530px;
    top: 20rem;
    right: 0;
    position: absolute;
    z-index: -1;

    @media #{$media-max-tablet}{
        top: auto;
        bottom: 0;
    }
}
