.events-odd {
    transform: rotate(var(--events-rotate));
}

.events-even {
    transform: rotate(var(--events-rotate-r));
}
.event-item {
    &:hover .event-col1 {
        background-color: $cch-blue;
        & p, span, h5 {
            color: white;
            transform: translateX(5px);
        }
    }
    &:hover .event-col2 {
        background-color: $cch-red;
        & p, span, h5, .month {
            color: white;
            transform: translateX(5px);
        }
    }
    & .event-col1 {
        padding-right: 12px;
        transition: .2s;
        & p, span, h5 {
            transform: none;
            transition: .2s transform;
        }
    }
    & .event-col2 {
        transition: .2s;
        & p, span, h5, .month {
            transform: none;
            transition: .2s transform;
        }
    }
    & p.event-date {
        font-size: 38px;
        letter-spacing: 2px;
        line-height: 42px;
        text-transform: uppercase;
        margin: 0;

        & span.day {
            text-align: right;
            margin-right: -4px;
        }

        & span.month{
            font-weight: 900;
            color: $cch-red;
            margin-right: 7px;
        }
    }
    & p.event-day {
        text-align: right;
    }
    & p.event-time {
        text-align: right;
        line-height: 18px;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
        margin-top: 1px;
        color: $cch-red;

        @media #{$media-max-tablet}{
            font-weight: 600;
        }
    }

    & h5.event-title {
        font-size: 24px;
        letter-spacing: 5px;
        line-height: 26px;
        text-transform: uppercase;
        font-weight: 900;
        margin: 0;
    }
}

.events-empty {
    text-align: center;
    & h4 {
        max-width: none;
        margin: 0 auto 4rem;
        &:after {
            right: 0;
            margin: auto;
        }
    }
    & p {
        line-height: 42px;
    }
    & form input.email {
        border: 1px solid $cch-red;
    }
    & .mc-field-group {
        margin: auto;
        width: 300px;
        position: relative;
    }
}

.events-wrap {
    padding: 0 4rem;
    @media #{$media-max-tablet}{
        padding: 0 2rem;
    }
}
