.hero {
    position: relative;
    & svg {
        width: 100%;
        position: relative;
        z-index: 2;
    }
}
.hero-image {
    width: 100%;
    position: absolute;
    top: -37.5rem;
    left: 0;
    z-index: -9999;
    transition: .3s ease-out;
    will-change: transform;
    // opacity: .3;
}

.move-vert {
    transform: translateY(var(--yu));
}

.cch-intro {
    font-weight: 200;
    font-size: 2.3rem;
    margin: 0;
    line-height: 62px;
}

.cch-open {
    font-weight: 800;
    font-size: 9rem;
    margin: 0;
    line-height: 1.1;
    text-transform: uppercase;

    & span {
        display: inline-block;
        transform-origin: center;
        margin-right: 1rem;
        padding: 1.6rem;
        transition: .3s ease-out;
        will-change: transform;
    }
}

.letters-odd {
    transform: rotate(var(--r));
}

.letters-even {
    transform: rotate(var(--rr));
}

.col-offset {
    & p{
        margin-left: 12.5%
    }
    & h3:after {
        margin-left: 25%
    }
}

.col-offset-offset {
    margin-left: 25%;

    & p{
        margin-left: 25%
    }
    & h3:after {
        margin-left: 50%
    }
}

.col-super-offset {
    margin-left: 50%;
    & p{
        margin-left: 25%
    }
    & h3:after {
        margin-left: 50%
    }
}

.intro-cap {
    position: absolute;
    left: 0;
    top: 14rem;
    width: 410px;
}
.intro-squiggle {
    position: absolute;
    right: 6rem;
    top: 4rem;
    width: 50px
}

#money-illo {
    width: 950px;
    position: absolute;
    right: -21rem;
    top: -16rem;
    overflow: visible;
}

.moneyPiece {
    transform: translate3d(0, var(--translateY), 0);
    will-change: transform;
    transition: .3s ease-out;
}
