// // hero SVG stuff
//
// .hero {
//     position: relative;
//
//     div {
//         position: absolute;
//         margin: auto;
//         top: 0;
//         left: 0;
//         right: 0;
//     }
//     svg {
//         width: 100%;
//         max-height: 150vh;
//     }
// }
//
// .hero-first{
//     z-index: 0;
//     transition: .15s;
//     opacity: var(--or);
// }
//
// .hero-second {
//     z-index: 999;
//     opacity: var(--o);
//     transition: .15s;
//     svg {
//         transform: rotate(180deg);
//     }
// }

#flipflop {
    height: 100% !important;
}

// .flipflop-blue {
//     fill: var(--c) !important;
// }
//
// .flipflop-red {
//     fill: #ff2600 !important;
// }



.cch-intro {
    font-weight: 200;
    font-size: 2.3rem;
    margin: 0;
    line-height: 62px;
}

.cch-open {
    font-weight: 800;
    font-size: 9rem;
    margin: 0;
    line-height: 1.1;
    text-transform: uppercase;
    transform: rotate(var(--r));

    & span {
        display: inline-block;
        transform-origin: center;
        margin-right: 1rem;
        padding: 1.6rem;
        &:nth-child(odd) {
            transform: rotate(45deg);
        }
        &:nth-child(even) {
            transform: rotate(-45deg);
        }
    }
}

.cch-open_rev{
    & span:nth-child(odd) {
        transform: rotate(-45deg);
    }
    & span:nth-child(even) {
        transform: rotate(45deg);
    }
}
