---
layout: default
---

<div class="vh80 cntr-cntr-child max-width-3 mx-auto">
    <h1>Capitol Cider House</h1>
</div>
<div class="vh80 center vert-cntr-child max-width-3 mx-auto">
    <h2>
        Capitol Cider House brewery and bar is located in D.C.’s Petworth neighborhood. We focus on traditional craft hard cider brewing with modern flavors, producing more than 12 hand pressed ciders.
    </h2>
</div>
<div class="vh60 vert-cntr-child max-width-3 mx-auto">
    <div class="">
        <h3>Why Cider?</h3>
        <p>
            Even our country’s founding fathers were in the cider making game, making it the #1 preferred drink by the early colonists. Inspired by the history of this once go-to pub beverage, the resurgence is alive and flowing at Capitol Cider House. No longer is cider a syrupy, painfully sweet hangover regret, but a choice for the more adventurous.
        </p>
    </div>
</div>
<div class="vh60 vert-cntr-child max-width-3 mx-auto">
    <div class="">
        <h3>It’s DC as F*ck</h3>
        <p>
            Capitol Cider House is a part of the fiercely innovative city landscape that is DC culture. We’re proud to be from the same city as Go-go music, 1980s punk legends, the two Daves (Chappelle and Grohl) and mumbo sauce. DC is so fantastic even retired presidents like Barry (Obama) still live down the street. We rep DC hard and wanna help you love it too. So pop down and have a couple classic brews in our thriving neighborhood of Petworth.
        </p>
    </div>
</div>

{% include components/cideries.html %}

{% include components/freshies.html %}

{% include components/brew-process.html %}


<div class="vh60 vert-cntr-child max-width-3 mx-auto">
    <div class="">
        <p class="eyebrow">Our Location</p>
        <h3>Check Out Our New Digs</h3>
        {% for digs in page.digs %}
            <img src="{{ digs.icon }}" alt="">
            <h4>{{ digs.title }}</h4>
            <p>{{ digs.distance }}</p>
        {% endfor %}
    </div>
</div>
<div class="vh80 cntr-cntr-child max-width-3 mx-auto">
    <div class="center">
        <p>👋</p>
        <p>3930 Georgia Ave NW Washington, DC 20011</p>
    </div>
</div>
