---
layout: default
---

<div id="feed">
    <div id="sections">
        <section id="firstSection">
            <div id="top" class="max-width-3 mx-auto hero">
                    {% include svg/FlipFlop.svg %}
            </div>
            <img class="hide-below-tablet hero-image move-vert"
                data-modifier="15"
                data-from="top-top"
                data-to="bottom-top"
                src="/uploads/hero-bg.png"
                alt="">
            <img class="hide-above-tablet hero-image move-vert"
                data-modifier="15"
                data-from="top-top"
                data-to="bottom-top"
                src="/uploads/bg-mobile.png"
                alt="">
        </section>
        <!-- Lede -->
        <section>
            <div class="my15 center mx-auto px2 cch-intro">

                    {{ content }}

            </div>
        </section>
        <section>
            <!-- Open Time -->
            {% assign today = site.time | date: "%s" %}
            {% assign openingday = site.opening-date | date: "%s" %}

            <div class="  center mx-auto">
                <div class="cch-open red-text">Open</div>
                <div class="cch-open_hours">{{page.hours}}</div>
            </div>

        </section>
        <section>
            <!-- Intro1 Section -->
            <div id="about" class="outter-wrapper relative">
                <div class="my15 illo-space max-width-3 mx-auto">
                    <div class="sm-col-6 px3">
                        <h3>{{page.why-cider.title}}</h3>
                        <p>
                            {{page.why-cider.text | markdownify}}
                        </p>
                    </div>
                </div>
                {% include /svg/money.svg %}
            </div>
        </section>
        <section>
            <!-- Intro2 Section -->
            <div class="outter-wrapper relative">
                <div class="my15 max-width-3 mx-auto illo-space">
                    <div class="px3 sm-col-8 col-offset-offset">
                        <h3>{{page.why-cch.title}}</h3>
                        <p>
                            {{page.why-cch.text | markdownify}}
                         </p>
                    </div>
                </div>
                <img src="/uploads/cap.png" class="intro-cap move-vert" alt=""
                data-modifier="-9"
                data-from="top-bottom"
                data-to="bottom-top"
                alt="">
                <img src="/uploads/squiggletext.png" class="intro-squiggle move-vert" alt=""
                data-modifier="13"
                data-from="top-bottom"
                data-to="bottom-top"
                alt="">
            </div>
        </section>
        <section>
            <!-- Cidery Section -->
            <div id="cidery" class="outter-wrapper relative">
                <div class="my15 max-width-3 mx-auto col-offset">
                    {% include components/cideries.html %}
                </div>
                <img src="/uploads/twohundred.png" class="xs-hide cideries-twohundred move-vert"
                data-modifier="-16"
                data-from="top-bottom"
                data-to="bottom-top"
                alt="">
                <img src="/uploads/twohundred_mobile.png" class="sm-hide md-hide lg-hide cideries-twohundred-mobile move-vert"
                data-modifier="-8"
                data-from="top-bottom"
                data-to="bottom-top"
                alt="">
                <img src="/uploads/horsey-bg.png" class="cideries-horsey-bg move-vert"
                data-modifier="-2"
                data-from="top-bottom"
                data-to="bottom-top"
                alt="">
                <img src="/uploads/horsey-horse.png" class="cideries-horsey-horse move-horiz"
                data-modifier="-8"
                data-from="top-bottom"
                data-to="bottom-top"
                alt="">
            </div>
        </section>
        <section>
            <!-- Brew Process -->
                <div id="process" class="my15">
                    {% include components/brew-process.html %}
                </div>
        </section>
        <section>
            <!-- Location section -->
            <div id="location" class="location my15 mb10 relative clearfix">
                <div class="max-width-3 mx-auto ">
                    <div class="relative sm-col-7 right px3 illo-space">
                        <h5 class="eyebrow">{{ page.Location.label }}</h5>
                        <h3>{{ page.Location.title }}</h3>
                        {{ page.Location.description | markdownify }}
                    </div>
                </div>
                <img src="/uploads/bowow.png" class="location-bowow move-horiz" alt=""
                data-modifier="6"
                data-from="top-bottom"
                data-to="bottom-top"
                alt="">
            </div>
        </section>
        <section>
            <!-- Events -->
            <div id="events" class="my5 center mx-auto">
                <div class="cch-events red-text">Events</div>
            </div>
            <div class="events-wrap my5 max-width-4 mx-auto ">

                {% include components/event.html%}

            </div>
        </section>
        <section id="lastSection" class="move-vert"
        data-modifier="-11"
        data-from="top-bottom"
        data-to="bottom-top"
        alt="">
            <!-- contact -->

            <div id="contact" class="cch-address vh80 cntr-cntr-child px3">
                <div class="center max-width-4 margin-auto">
                    <p class="hiiiiii">👋</p>
                    <p>{{ page.address }}</p>
                    <!-- desktop email  -->
                    <p class="email hide-xs">SAY <a class="" href="mailto:{{page.email}}">{{page.email}}</a></p>
                    <!-- mobile email  -->
                    <p class="mobile-email show-xs py2"><a class="text-link" href="mailto:{{page.email}}">Shoot us a Line</a></p>
                </div>
            </div>

        </section>
    </div>
</div>
