---
layout: default
---

<div id="top" class="max-width-3 mx-auto hero">
        {% include svg/FlipFlop.svg %}
</div>
<img class="hide-below-tablet hero-image move-vert"
    data-modifier="15"
    data-from="top-top"
    data-to="bottom-top"
    src="/uploads/hero-bg.png"
    alt="">
<img class="hide-above-tablet hero-image move-vert"
    data-modifier="15"
    data-from="top-top"
    data-to="bottom-top"
    src="/uploads/bg-mobile.png"
    alt="">

<!-- Lede -->
<div class="my15 center max-width-3 mx-auto px2">
    <p class="cch-intro blue-text">
        Capitol Cider House is located at 3930 Georgia Avenue, steps from the metro in the heart of D.C.’s Petworth neighborhood. We focus on creating craft hard cider with modern flavors, producing more than 15 hand pressed ciders.
    </p>
</div>

<!-- Open Time -->
<div class="  center mx-auto">
    <div class="cch-open red-text">Open</div>
    <div class="cch-open red-text">May 20</div>
</div>

<!-- Intro1 Section -->
<div id="about" class="outter-wrapper relative">
    <div class="my15 illo-space max-width-3 mx-auto">
        <div class="sm-col-6 px3">
            <h3>Why Cider?</h3>
            <p>
                It’s making a comeback. Cider is the original American beverage of choice, but it fell out of favor during Prohibition. We’re joining the national movement to reclaim cider for the States, and what better place to make our mark on Americana culture than in good ole Washington, D.C.?             </p>
        </div>
    </div>
    {% include/svg/money.svg %}
</div>

<!-- Intro2 Section -->

<div class="outter-wrapper relative">
    <div class="my15 max-width-3 mx-auto illo-space">
        <div class="px3 sm-col-8 col-offset-offset">
            <h3>Why Capitol Cider House?</h3>
            <p>
                At Capitol Cider House, we do cider right. No added chemicals or preservatives. Only showcasing producers within 200 miles of the Capitol building. Always gluten free. Not cloyingly sweet. More like a fine wine than a popsicle.             </p>
        </div>
    </div>
    <img src="/uploads/cap.png" class="intro-cap" alt="">
    <img src="/uploads/squiggletext.png" class="intro-squiggle" alt="">
</div>

<!-- Cidery Section -->

<div id="cidery" class="outter-wrapper relative">
    <div class="my15 max-width-3 mx-auto col-offset">
        {% include components/cideries.html %}
    </div>
    <img src="/uploads/twohundred.png" class="xs-hide cideries-twohundred move-vert"
    data-modifier="-16"
    data-from="top-bottom"
    data-to="bottom-top"
    alt="">
    <img src="/uploads/horsey.png" class="cideries-horsey" alt="">
</div>

<!-- Brew Process -->

    <div id="process" class="my15">
        {% include components/brew-process.html %}
    </div>

<!-- Location section -->
<div id="location" class="location my15 mb10 relative clearfix">
    <div class="max-width-3 mx-auto ">
        <div class="relative sm-col-7 right px3 illo-space">
            <h5 class="eyebrow">Our Location</h5>
            <h3>Check out  our new digs</h3>
            <p>We invite you to visit our brand new production space and tasting room at 3930 Georgia Ave NW. Chill out on our patio, play a round of shuffleboard and enjoy a snack while sample a flight of regional ciders.</p>
        </div>
    </div>
    <img src="/uploads/bowow.png" class="location-bowow" alt="">
</div>

<!-- Events -->
<div id="events" class="my5 center max-width-4 mx-auto">
    <div class="cch-events red-text">Events</div>
</div>
<div class="my5 max-width-4 mx-auto clearfix px4">

    {% include components/event.html%}

</div>


<!-- contact -->

<div id="contact" class="cch-address vh80 cntr-cntr-child px3">
    <div class="center max-width-4 margin-auto">
        <p class="hiiiiii">👋</p>
        <p>3930 Georgia Ave NW Washington, DC 20011</p>
        <!-- desktop email  -->
        <p class="email hide-xs">SAY <a class="text-link" href="mailto:hello@capitolciderhouse.com">hello@capitolciderhouse.com</a></p>
        <!-- mobile email  -->
        <p class="mobile-email show-xs py2"><a class="text-link" href="mailto:hello@capitolciderhouse.com">Shoot us a Line</a></p>
    </div>
</div>
