---
layout: default
---
<!-- Libations——————————————————————————————— -->


<!-- CIDERS——— -->
<div class="libationSection ourCiders">
  <div class="ciderContent">
    <h5 class="eyebrow redType">From the brewery</h5>
    <h2 class="sectionTitle">Our Ciders</h2>
    <p>Brewed in-house, our ciders are made with a <a href="#process">classic process</a> in mind. Harvested from the finest apples praesent congue erat at massa lraesent congue erat at massa.</p>
  <img class="hide-below-tablet move-vert"
      data-modifier="2"
      data-from="top-bottom"
      data-to="bottom-top"
      src="/uploads/ciderglasses.png"
      alt="">
  <img class="hide-below-tablet move-vert"
      data-modifier="-2"
      data-from="top-bottom"
      data-to="bottom-top"
      src="/uploads/ciderglasses.png"
      alt="">
  </div>

  <div class="varietyCarousel">
    {% assign cider-sort = site.our-ciders | sort:"position", "last" %}
    {% for cider in cider-sort %}
    <div class="varietyCard center">
        <h5 class="eyebrow ">Capital Cider house</h5>
        <h2 class="shadowType_red">{{ cider.title }}</h2>
        <p>{{ cider.tasting-notes }}</p>
    </div>
    {% endfor %}
  </div>
  <a class="btn-prime" type="button" name="button">Visit CCH</a>
  <a class="btn-second" type="button" name="button">On Tap in DC</a>
</div>




<!-- APPLE PORT———— -->

<div class="libationSection ourPorts">
  <div class="portContent center">
    <h5 class="eyebrow whiteType">From the brewery</h5>
    <h2 class="sectionTitle whiteType">Our Apple Port</h2>
    <p>A distinctly American pommeau. Fresh-pressed Winesap apples collide with eau de vie crafted from a custom blend of wild-fermented cider. Aged in locally-sourced rye whiskey barrels for 11 months.</p>
  </div>
  <div class="varietyCarousel">
    {% assign port-sort = site.our-ports | sort:"position", "last" %}
    {% for port in port-sort %}
      <div class="varietyCard center">
        <h5 class="eyebrow redType">North Columbia</h5>
        <h2 class="shadowType_blue"> {{ port.title }}</h2>
        <p class="redType">{{ port.tasting-notes }}</p>
      </div>link
    {% endfor %}
  </div>
  <img class="move-vert"
      data-modifier="-8"
      data-from="top-bottom"
      data-to="bottom-top"
      src="/uploads/abstractDot.png"
      alt="">
  <a class="btn-prime" type="button" name="button">Visit CCH</a>
  <a class="btn-second" type="button" name="button">On Tap in DC</a>
</div>


<!-- SHOP———————————————————————————— -->


<div class="shopMain center">
  <div class="shopMain_content">
    <h5 class="eyebrow">Shop CCH</h5>
    <h2 class="sectionTitle redType">Grab yourself some swag</h2>
    <p>From Gift Cards 💳 to 🧢 👕 apparel, We got you covered. Grab an Item for your special someone at the CCH Shop.</p>
    <a class="btn-prime" type="button" name="button">Shop CCH</a>
  </div>
  <div class="shopMain_BG">
    <img class="hide-below-tablet shopBG_blue move-horiz"
        data-modifier="15"
        data-from="top-bottom"
        data-to="bottom-top"
        src="/uploads/typeBlue2@4x.png"
        alt="">
    <img class="hide-below-tablet shopBG_red move-horiz"
        data-modifier="-15"
        data-from="top-bottom"
        data-to="bottom-top"
        src="/uploads/typeRed2@4x.png"
        alt="">
    <img class="hide-below-tablet shopBG_blue move-horiz"
        data-modifier="15"
        data-from="top-bottom"
        data-to="bottom-top"
        src="/uploads/typeBlue2@4x.png"
        alt="">
    <img class="hide-below-tablet shopBG_red move-horiz"
        data-modifier="-15"
        data-from="top-bottom"
        data-to="bottom-top"
        src="/uploads/typeRed2@4x.png"
        alt="">
    <img class="hide-below-tablet shopBG_blue move-horiz"
        data-modifier="15"
        data-from="top-bottom"
        data-to="bottom-top"
        src="/uploads/typeBlue2@4x.png"
        alt="">
    <img class="hide-below-tablet shopBG_red move-horiz"
        data-modifier="-15"
        data-from="top-bottom"
        data-to="bottom-top"
        src="/uploads/typeRed2@4x.png"
        alt="">
    <img class="hide-below-tablet shopBG_blue move-horiz"
        data-modifier="15"
        data-from="top-bottom"
        data-to="bottom-top"
        src="/uploads/typeBlue2@4x.png"
        alt="">
  </div>
</div>


<div class="shopLibations">
  <div class="title">
    <h2 class="sectionTitle redType">Buy our libations</h2>
  </div>
  <div class="contentL">
    <h3>Find a retailer</h3>
    <p>New Columbia apple port can be found in over 25 shops and bars in the DC Metro Area.</p>
    <a class="btn-prime" type="button" name="button">See the map</a>
  </div>
  <div class="contentR">
    <h3>Buy Online</h3>
    <p>Looking to get our booze sent directly to you? We’re shipping to over 40 plus states.</p>
    <a class="btn-logo" name="Shop at Vinoshipper">{% include svg/vinoshipper.svg %}</a>
    <!-- <a class="btn-logo drizzly" name="Shop at Vinoshipper">{% include svg/drizzly.svg %}</a> -->
  </div>
</div>

<div class="shopMembership">
  <div class="shopMembership_content">
    <h2 class="sectionTitle">Join Our exclusive cider club</h2>
    <p>Off the Record is our membership plan with some amazing perks. Sign up today because space is limited.</p>
    {{page.membership-benefits | markdownify}}
    <a class="btn-prime" type="button" name="button">become a member</a>
  </div>
  <img class="hide-below-tablet shopBG_blue move-vert"
      data-modifier="-8"
      data-from="top-bottom"
      data-to="bottom-top"
      src="/uploads/offtherecord.png"
      alt="">
  <img class="move-vert"
      data-modifier="-8"
      data-from="top-bottom"
      data-to="bottom-top"
      src="/uploads/abstractDot.png"
      alt="">
</div>
